.Form-header{
    margin-top: 9%;
    padding: 3% 4% 3% 4%;
    background-color: rgb(71, 169, 182);
    border-radius: 5px;
    
}
.Login-part{
    background-color: rgb(19, 125, 151);
}
.Login-btn{
    background-color: rgb(4, 57, 66);
    color: white;
}

.Register-btn{
    background-color: rgb(5, 48, 56);
    color: white;
}
.box-part{
    width: 24%;
}
.table-part{
    width: 45%;
}

/* header */
.Header-part{
    background-color: rgba(107, 185, 196, 0.685);
}

/* home */
.Home-details{
    margin-top: 4%;
        padding: 3% 4% 3% 4%;
        background-color: rgb(59, 160, 160);
        border-radius: 5px;
}

.Book-btn{
    background-color: rgb(15, 105, 105);
    color: white;
}

.about-link{
    color: white;
}
.addBtn{
    margin-top: 3%;
    margin-left: 45%;
    border: none;
    background-color: rgb(13, 94, 109);
    color: white;
    padding: 8px;
    border-radius: 4px;
}